cpo-list {
    .leftPadding{
        padding-left: 5px;
    }
    .cardHeader {
        padding-top: 7px;
        padding-left: 7px;
        padding-bottom: 0px;
        margin-bottom: 0px;
    }
    ion-header ion-icon.back-button-icon.icon {
        color: map-get($colors, white);
    }
    .searchbar{
        background-color: map-get($colors , maintheme);
        color: #ffffff; 
    }
}
