page-login {
    form {
      margin-bottom: 32px;
      button {
        margin-top: 20px;
      }
    }
    .no-scroll .scroll-content{      
      overflow-y: hidden !important;  
    }
      
    ion-label {
      margin-left: 5px;
      color: #3f51b5;
    }
    .message{
      font-size: 0.8em;
      color:#3f51b5;
      margin-left: 40px;
      margin-right: 40px;
    }
  
    ion-input {
      color: map-get($colors, maintheme);
      padding: 5px;
    }
  
    .invalid {
      border-bottom: 1px solid #FF6153;
    }
  
    .error-message .item-inner {
      border-bottom: 0 !important;
    }
      ion-item{
      background-color: transparent !important;
    }
    
  
  }