
<ion-content no-bounce>
    <div class="topContainer">
        <img src="./assets/imgs/icon.png" class="logo"/>
    </div>
    <div class="bottomContainer">
      <form [formGroup]="loginForm" (submit)="loginUser()" novalidate>
        <ion-item class="formContent">
          <ion-label stacked>Email</ion-label>
          <ion-input #email formControlName="email" type="email" placeholder="Your email address"
            [class.invalid]="!loginForm.controls.email.valid &&
              loginForm.controls.email.dirty"></ion-input>
        </ion-item>
        <ion-item class="formContent" class="error-message" *ngIf="!loginForm.controls.email.valid  &&
          loginForm.controls.email.dirty">
          <p class="message">Please enter a valid email.</p>
        </ion-item>
    
        <ion-item  class="formContent">
          <ion-label stacked>Password</ion-label>
          <ion-input #password formControlName="password" type="password" placeholder="Your password"
            [class.invalid]="!loginForm.controls.password.valid &&
              loginForm.controls.password.dirty"></ion-input>
        </ion-item>
        <ion-item class="formContent" class="error-message" *ngIf="!loginForm.controls.password.valid  &&
          loginForm.controls.password.dirty">
          <p class="message">Your password needs more than 6 characters.</p>
        </ion-item>

        <ion-item no-lines></ion-item>
        <button ion-button class="loginButton" type="submit" item-left clear>
          Login
        </button><br>
        <button ion-button outline class="signupButton" (click)="createAccount()" item-right>
          Create a new account
        </button>
      </form>
    
      
      <button ion-button block clear class="linkButton" (click)="goToResetPassword()">
        I forgot my password
      </button>
    </div>      
</ion-content>
