// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.actionBtn {
    margin-top: 0;
    margin-right: 0px;
    width: 30px;    //new
}
.badgeClass {
    margin-left: 7px;
    margin-top: 4px;
    border-radius: 5px;
    color: #ffffff;
}
.badge-1 {
    background-color: #ffcc00;
}
.badge-2 {
    background-color: #aa4422;
}
.badge-3 {
    background-color: #b3b3b3;
}
.bottomContainer{
    background-color:#ffffff;
    width: 100%;
    height: 60%;
    left: 0px;
    right: 0px;
    top: 0px;
    position: relative;
}
.cardHeader {
    padding-top: 7px;
    padding-left: 7px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.col {
    margin-top: 0px;
    margin-right: 3px;
}
.countLabel {
    padding-left: 10px;
    color: #999999;
    font-size: 12px;
    margin-top: 0px;
}
.formContent{
    margin-left: 40px;
    margin-right: 40px;
}
.icon {
    color: #999999;
}
.iconValue {
    color: #999999;
}
.itemTransparency {
    background-color: transparent;
    padding: 0;
}
.lbl {
    padding-left: 10px;
    color: #999999;
    font-size: 14px;
}
.leftPadding{
    padding-left: 5px;
}
.linkButton{
    color: map-get($colors, maintheme);
    font-size: 0.8em;
}
.loginButton{
    color: #ffffff;
    background-color: map-get($colors, maintheme);
    border-radius: 5px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    left: 10px;
    right: 10px;
    display: block;
}
.loginWindow{
    background-color: #eeeeee;
    color: #555555;//#3f51b5;
    //height: 50px;
}
.loginForm{
    position: absolute;
    bottom: 50px;
    left: 50px;
    right: 50px;
}
.logo{
    width: 150px;
    height: 150px;
    position: absolute;
    left: 10px;
    right: 10px;
    top: 10px;
    bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    display: block;
    z-index: 1;
}
.mainDiv{
    margin-top: -20px;
}
.message{
    font-size: 0.8em;
    color:#3f51b5;
    margin-left: 40px;
    margin-right: 40px;
}
.menuButton{
    background-color: #eeeeee;
    color: #555555;
    height: 55px;
}
.separator {
    margin-top: 10px;
    height: 1px;
    width: 100%;
    background-color: #eeeeee;
}
.signupButton{
    color: map-get($colors, maintheme);
    border-color: map-get($colors, maintheme);
    border-radius: 5px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    left: 10px;
    right: 10px;
    display: block;
}
.title{
    height: 100%;
}
.topContainer{
    background-color: #ffffff;
    width: 100%;
    height: 40%;
    left: 0px;
    right: 0px;
    position: relative;
}
.window {
    background-color: #eeeeee;
}
