page-form {
    .badgeClass {
        margin-left: 7px;
        margin-top: 6px;
        border-radius: 5px;
        color: #ffffff;
        height: 20px;
    }
    .back-button-icon-md {
        color: #ffffff;
      }
}
